@font-face {
  font-family: "Akzidenz-grotesk-light";
  src: url("../../assets/fonts/Akzidenz-grotesk-light.ttf");
}

@font-face {
  font-family: "faither-alwy6";
  src: url("../../assets/fonts/faither-alwy6.otf");
}

@font-face {
  font-family: "Oswald";
  src: url("../../assets/fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "Rougnie-Brush-BF641a521de7965";
  src: url("../../assets/fonts/Rougnie-Brush-BF641a521de7965.otf");
}