/* Generic */
@import './generic/normalize.css';
@import './generic/box-sizing.css';

/* Settings */
@import './settings/colors.css';
@import './settings/typography.css';

/* Objects */
@import './objects/container.css';
@import './objects/ul.css';

/* Elements */
@import './elements/body.css';
@import './elements/figure.css';
@import './elements/heading.css';
@import './elements/img.css';
@import './elements/anchor.css';
@import './elements/paragraph.css';
@import './elements/picture.css';

/* Organisms */
@import './organisms/header.css';
@import './organisms/nav.css';
@import './organisms/footer.css';

/* Utilities */
@import './utilities/responsive.css';